<!DOCTYPE html>
<html>
<head>
  <title>Realtime Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
</head>

<body>
  <div class="text-center">
    <h1>Realtime Search Analytics</h1>
    <input type="text" id="search-box" placeholder="Type to search...">
    <ul id="results">
      <% @searches.each do |term, count| %>
        <li><%= "#{term}" %></li>
      <% end %>
    </ul>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const searchBox = document.getElementById('search-box');
      let timer;

      searchBox.addEventListener('input', function() {
        clearTimeout(timer);
        timer = setTimeout(() => {
          if (searchBox.value.trim() !== '') {
            fetch('/searches', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
              },
              body: JSON.stringify({ search: { term: searchBox.value } })
            }).then(response => response.json()).then(data => {
              if (data.status === 'success') {
                console.log('Search recorded');
              } else {
                console.error('Error:', data.message);
              }
            });
          }
        }, 1000); // Delay of 1 second to confirm the search
      });
    });
  </script>
</body>
</html>